/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  #app {
    display: initial !important;
  }

  body {
    background-color: var(--shared-wrapper-background-color);
  }

  #action-container {
    border-radius: 0 !important;
    min-width: auto !important;
    width: auto !important;
    box-shadow: none !important;
  }
}
