#action-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  background-color: var(--shared-wapper-background-color);
  padding: 4rem 3rem;
  border-radius: var(--shared-wrapper-border-radius);
  box-shadow: 0 0 var(--shared-wrapper-elevation) rgba(156, 156, 156, 0.15);
  min-width: 24em;
  width: auto;
}

#action-container > #heading {
  display: flex;
  gap: 0.7em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#action-container > #heading > h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

#action-container > #heading > h3 {
  margin: 0;
  font-weight: 400;
}
#action-container > #heading > img {
  height: 3rem;
  width: 3rem;
}

#action-container > #form {
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}

#action-container > #footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

button[type="submit"] {
  height: 55px;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--shared-accent);
  color: var(--shared-button-text-color);
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: var(--shared-widget-border-radius);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  font-size: inherit;
}

button[type="submit"]:hover {
  background-color: var(--shared-accent-hover);
}

button[type="submit"]:active {
  background-color: var(--shared-accent-hover);
}

#form-group {
  display: flex;
  border: 2px solid #c9cace;
  border-radius: var(--shared-widget-border-radius);
  height: 55px;
  padding: 0 6px;
  position: relative;
}

#form-group:focus-within{
  border: 2px solid var(--shared-accent);
  background-color: color-mix(in srgb,var(--shared-wapper-background-color),#000 5%);
}

#form-group > label {
  position: absolute;
  user-select: none;
  top: -10px;
  background-color: var(--shared-wapper-background-color);
  padding: 0 6px;
  font-size: 14px;
  border-radius: 10px;
}

#form-group > div {
  height: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

#form-group > div > input {
  outline: none;
  border: 0;
  height: 100%;
  flex-grow: 1;
  padding: 0px 6px;
  background-color: transparent;
  font-size: inherit;
}

#form-group > div > button.password-toggle {
  background-color: transparent;
  outline: none;
  border: 0;
}

.error {
  background-color: #ff00003b;
  border: 1px solid #d43535;
  padding: 0.6em 0.5rem;
  border-radius: 8px;
  color: #d43535;
  display: flex;
  gap: 0.8rem;
}

.errorlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #d43535;
}
