#action-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: #fff;
  padding: 4rem 3rem;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(156, 156, 156, 0.15);
  min-width: 24em;
}

#action-container > #heading {
  display: flex;
  gap: 0.7em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#action-container > #heading > h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

#action-container > #heading > h3 {
  margin: 0;
  font-weight: 400;
}
#action-container > #heading > img {
  height: 3rem;
  width: 3rem;
}

#action-container > #form {
  display: flex;
  flex-direction: column;
  gap: .9em;
}

#action-container > #footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

button[type=submit] {
  height: 50px;
  border-radius: 6px;
  outline: none;
  border: 0px solid;
  font-size: inherit;
}

#form-group {
  display: flex;
  border: 1px solid #c9cace;
  border-radius: 0.6rem;
  height: 45px;
  padding: 0 6px;
  position: relative;
}

#form-group > label {
  position: absolute;
  user-select: none;
  top: -10px;
  background-color: #fff;
  padding: 0 6px;
  font-size: 14px;
}

#form-group > div {
  height: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

#form-group > div > input {
  outline: none;
  border: 0;
  height: 100%;
  flex-grow: 1;
  padding: 0px 6px;
  background-color: transparent;
  font-size: inherit;
}

#form-group > div > button.password-toggle {
  background-color: transparent;
  outline: none;
  border: 0;
}
