:root {
  font-family: "IBM Plex Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--shared-text-color);
  font-size: 16px;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  background-color: var(--shared-background-color);
}

a {
  text-decoration: none;
  color: var(--shared-accent);
  cursor: default;
  font-weight: 600;
}

a:hover {
  color: var(--shared-accent-hover);
}

a:focus,
a:visited {
  color: var(--shared-accent-active);
}

p {
  margin: 0;
}
