{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{% endblock %} | {{ config.application_name }}
    </title>
    <link rel="stylesheet" href="{% static 'authentication/css/fonts.css'%}" />
    <link rel="stylesheet" href="{% static 'authentication/css/index.css'%}" />
    <link
      rel="stylesheet"
      href="{% static 'authentication/css/component.css'%}"
    />

    <script>
      // Load configuration from python
      window.sharedConfig = {};
      window.sharedConfig.company_name = "{{ config.company_name }}";
      window.sharedConfig.application_name = "{{ config.application_name }}";
      window.sharedConfig.application_url = "{{ config.application_url }}";
      window.sharedConfig.application_icon_url =
        "{{ config.application_icon_url }}";
      window.sharedConfig.callback_url = "{{ config.callback_url }}";
      window.sharedConfig.fields = [
        // {% for field in fields %}
        {
          name: "{{ field.name}}",
          input_type: "{{field.input_type}}",
        },
        // {% endfor %}
      ];
    </script>
    <script src="{% static 'authentication/js/components.js' %}"></script>

    {% block head %} {% endblock %}
  </head>
  <body>
    <div id="app">
      <form id="action-container" method="post">
        {% csrf_token %}
        <div id="heading">
          <img
            src="{{config.application_icon_url}}"
            alt="{{config.application_name}}"
          />
          <h1>Welcome</h1>

          {% block heading %}{% endblock %}
        </div>

        <div id="form">
          {% block body %}
          <!-- form group -->
          {% for field in fields %}
          <div id="form-group">
            <label for="{{ field.name }}">{{ field.placeholder }}</label>

            <div>
              <input
                id="{{field.name}}_input"
                name="{{ field.name }}"
                type="{{ field.input_type }}"
                placeholder="{{ field.placeholder }}"
              />
              {% if field.input_type == 'password' %}
              <button
                id="{{field.name}}_password_toggle"
                class="password-toggle"
                onclick="togglePasswordInput('{{ field.name }}')"
              >
                <svg
                  id="{{field.name}}_eye_icon"
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-eye"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                  <path
                    d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
                  ></path>
                </svg>

                <svg
                  id="{{field.name}}_eye_off_icon"
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-eye-off"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  style="display: none"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828"></path>
                  <path
                    d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87"
                  ></path>
                  <path d="M3 3l18 18"></path>
                </svg>
              </button>
              {% endif %}
            </div>
          </div>
          {% endfor %} {% endblock %}
        </div>

        <div id="footer">{% block footer %} {% endblock %}</div>
      </form>
    </div>
  </body>
</html>
