{% extends "authentication/base.html" %}
{% load static %}

{% block title%}Login{% endblock %}

{% block head %}
<script src="{% static 'authentication/js/login.js' %}"></script>
{% endblock%}

{% block heading %}
<h3>
  <span>Log in to&nbsp;</span>
  {% if config.company_name %}
  <span>{{config.company_name}} to&nbsp;</span>
  {% endif %}
  <span>continue to&nbsp;</span>
  <a target="_blank" href="{{ config.application_url }}">
    {{config.application_name}}
  </a>
</h3>
{% endblock %}

{% block body %}
{{ block.super }}
<a href="#">Forgot password?</a>
{% endblock %}

{% block footer %}
<button type="submit">Continue</button>
<p>Dont have an account? <a href="{% url 'shared_auth_signup' %}">Sign up</a></p>
{% endblock %}